.body {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 400px;
    grid-gap: 0px 25px;
    font-size: 13px;
}

.img-section {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 80px;
}

.name-section {
    grid-column: 1/3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 1.5em;
}

.section {
    display: flex;
    align-items: center;
}

.left {
    justify-content:center;
    font-weight: bold;
}

.right {
    justify-content:center;
}

.socials {
    grid-column: 1/3;
    grid-row: 8/10;
}

.social-name {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.socials-section {
    display: flex;
    justify-content: center;
}

.social-icon {
    font-size: 2em;
    margin: 10px 10px 0px 10px;
    transition: all .3s;
}

.social-facebook:hover {
    color: #3b5998;
}

.social-instagram:hover {
    color: #C13584;
}

.social-snapchat:hover {
    color: #FFFC00;
}

.social-twitter:hover {
    color: #1DA1F2;
}

.social-messenger:hover {
    color: #00C6FF;
}